[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
joblib = "*"
sklearn = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
numpy = "*"
pillow = "*"
scikit-image = "*"
django-cors-headers = "*"
tencentcloud-sdk-python = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3"
