@font-face {
    font-family: "Classic Console Neue";
    font-size: normal;
    font-weight: 400;
    src: url(../font/classic_console_neue.ttf) format("truetype");
}

@font-face {
    font-family: "Sim Sun";
    font-size: normal;
    font-weight: 400;
    src: url(../font/sim_sun.ttf) format("truetype");
}